/target/
/sdklog/
/log/
*.jar*.war
.classpath
.project
/.settings/
/src/main/webapp/upload/
/src/main/webapp/json/
*.iml
.idea
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
